h1, h3, h4 {
  color: blue;
}
p {
  font-family: sans-serif;
}
ul {
  font-size: 20px;
  line-height: 30px;
}
img.main {
  float: left;
}
.my-class {
  margin: 12px;
  border: 2px solid blue;
  padding: 4px;
}
